<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/static/css/styles.css">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{{ .recipe.Name.En}} - 虹容欣食譜集</title>
  
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="manifest" href="/static/images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<header id="header">
  <nav>
    <a id="header-title-link" href="/home">
      <div id="header-name">虹容欣食譜集</div>
      <div id="sub-header">So Food Collection</div>
    </a>
    <div class="language-switch">
      <label class="language-label" id="ch-label" onclick="handleLanguageChange(this);">
        <input class="language-selector" type="radio" name="language-switch">
        中
      </label>
      <label class="language-label">
        <input class="language-selector" type="radio" name="language-switch" checked>
        EN
      </label>
      <script>
        function handleLanguageChange(languageRadio) {
          fetch('/language/ch/', { method: 'POST' })
            .then(() => window.location.reload());
        }
      </script>
    </div>
  </nav>
</header>
    <body>
        <div class="center">
          <h2>{{ .recipe.Name.En}} Recipe</h2>
          <div class="toc">
            <div class="horizontal"><a href="#ingredients-section">Ingredients</a></div>
            <div class="horizontal"><a href="#steps-section">Steps</a></div>
            {{ if .recipe.Notes }}
              <div class="horizontal"><a href="#notes-section">Notes</a></div>
            {{ end }}
        </div>
          <div class="section" id="ingredients-section">
            <h3>Ingredients</h2>
            <div class="ingredients-li">       
              {{ range .recipe.Ingredients }}
              <li class="ingredient-row">
                  <div>
                    {{ .Name.En }}
                  </div>
                  <div>
                    {{ if gt .Measurement 0.0 }} {{ .Measurement }} {{ .Unit.En }} {{ else }} As desire {{ end }}
                  </div>
              </li>
              {{ end }}
            </div>
          </div> 
          
          <div class="section" id="steps-section">
            <h3>Steps</h3>
            <ul>
              {{ range .recipe.Steps }}
              <li> {{ .En }} </li>
              {{ end }}
            </ul>
          </div>
          
          {{ if .recipe.Notes }}
          <div class="section" id="notes-section">
            <h3>Notes</h3>
            <ul>
              {{ range .recipe.Notes }}
              <li> {{ .En }} </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>
        
    <div class="footer">
      <p>©️ 2023 Sunnie So. All Rights Reserved.</p>
      <p class="small-footer">Last Updated: {{ .lastUpdatedTime }}</p>
    </div>
    <script>
      
      // Scrolls down 90px from the top of
      // the document, to resize the navlist
      // padding and the title font-size
      window.onscroll = function() {
          scrollFunction()
      };
            
      function scrollFunction() {
        if (document.body.scrollTop > 90 ||
            document.documentElement.scrollTop > 90)
        {
          // title size
          document.getElementById("header")
                  .style.minHeight = "50px";    
          document.getElementById("header-name")
                  .style.fontSize = "20px";
          document.getElementById("sub-header")
                  .style.fontSize = "10px";
          document.getElementById("header-name")
                  .style.fontWeight = "500";
        }
        else {
          // original layout
          document.getElementById("header")
                  .style.display = "flex";
          document.getElementById("header")
                  .style.flexDirection = "column";
          document.getElementById("header")
                  .style.justifyContent = "space-between";
          
          // original size
          document.getElementById("header")
                  .style.minHeight = "100px";
          document.getElementById("header-name")
                  .style.fontSize = "40px";
          document.getElementById("sub-header")
                  .style.fontSize = "20px";
          document.getElementById("header-name")
                  .style.fontWeight = "800";
        }
      }
      </script>
    </body>
</html>
