@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    box-sizing: border-box;
}

header {
    /* position: sticky; */
    font-family: 'Noto Sans TC', sans-serif;
    background-color: bisque;
    min-height: 100px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-name {
    /* position: sticky; */
    text-align: center;
    align-self: center;
    font-size: 40px;
    font-stretch: expanded;
    font-weight: 800;
    padding: 0px;
    margin: 0;
}

.sub-header {
    text-align: center;
    align-self: center;
    font-size: 20px;
    font-stretch: expanded;
    font-weight: 500;
    padding: 0px;
    margin: 0;
}

.lang-row {
    display: block;
}
.language-switch {
    float: right;
    border: 2px solid #ccc;
    padding: 0px;
    border-radius: 5px;
}

.language-switch input[type="radio"] {
    display: none;
}

.language-switch label {
    cursor: pointer;
    padding: 0px 7px;
}

.language-switch #ch-label {
    border-right-style: double;
}

.language-switch label:hover {
    background-color: grey;
    opacity: 20%;
}

.language-switcher input[type="radio"]:checked + label {
    background-color: #3498db;
    color: #fff;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

h2 {
    text-align: center;
    /* padding: 10px; */
    margin-block-start: 0;
}

h3 {
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.toc {
    text-align: center;
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
}

.horizontal {
    display: inline-block;
}


.center {
    align-content: center;
    text-align: center;
    max-width: 600px;
    margin: auto;
    background-color: rgb(255, 247, 233);
    border-right-color:  rgb(221, 203, 172);
    border-left-color:  rgb(221, 203, 172);
    border-right-style: groove;
    border-left-style: groove;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ingredients-li {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.ingredient-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

ul {
    text-align: left;
}

.items-display {
    display: grid; 
    padding: 10px;
    grid-auto-columns: 2fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 5px;
    justify-items: center;
}

.item-box {
    border: #a97e1f;
    border-style: solid;
    min-height: 100px;
    height: 50px;
    width: 150px;
    padding: 8px;
    text-align: center;
    color: rgb(101, 73, 9); 
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; font-weight: bold; }

.item-box:hover { border-style: double;}

a:active {
    text-decoration: none;
    color: rgb(151, 129, 78); }

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.small-footer {
    font-size: smaller;
}
